html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.score-panel .timer {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0px 5px 0 75px;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 25, 0);
}

.modal-screen {
  position: relative;
  width: 400px;
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 1);
  transform: translate(-50%, -30%);
}

.modal-screen .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: green;
}

.modal-screen .stats-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: blue;
}

.modal-screen .stats-body span {
  padding: 0.5rem 1.5rem;
}

.modal-screen .modal-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: blue;
}

.modal-screen .modal-controls button {
  width: 80px;
  height: 40px;
  background-color: white;
}

.hide {
  display: none;
}